* {
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url("images/wild_oliva.png");
}

main, header, footer {
  margin: 2em auto;
  height: 100%;
  max-width: 800px;
  text-align: center;
  background-color: rgba(127, 127, 127, 0.50);
  border: 1px solid black;
  border-radius: 1em;
  padding: 1em 0 1em 0;
  overflow: hidden;
}

main div {
  display: none;
}

main div.active {
  display: block;
}

main #lobbyList {
  list-style: none;
  padding: 0;
  margin: 0;

}

canvas {
  width: 100%;
}

footer > * {
  width: 25%;
  box-sizing: border-box;
  margin-left: 12.4%;
  margin-right: 12.4%;
  display: inline;
}

div#playerList {

}

@media only screen and (max-width: 800px) {
  main {
    padding: 0 1em;
  }
}

#title {
  color: white;
}

#playerName {
  color: white;
}

button {
  display: block;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
  max-width: 12em;
  border: none;
  background-color: grey;
  font-size: 15px;
  border-radius: 5px;
}
